/* Destop */
*{
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    margin: 0;
    width: 100%;
    max-width: 100%;
}
header {
    justify-content: center;
    background-color: black;
    position: fixed;
    font-size: 20px;
    text-align: center;
    border: 2px solid black;
    border-radius: 6px;
    z-index: 2;
    padding-top: 10px;
    max-width: 100%;
    width: 100%;
    height: 10vh;
}
span a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color:yellow ;
}
main{
    background-color: rgb(255, 196, 1);
    padding-top: 50px;
    width: 100%;
    max-width: 100%;
    border: solid 2px black;
    border-radius: 6px;
    text-align: center;
    height: 90vh;
}
main a{
    text-decoration: none;
    color: yellow;
}
img{
    border-radius: 6px;
    width: 25%;
    height: 50vh;
}
p{
    font-size: 18px;
    line-height: 25px;
}
footer{
    background-color: rgb(255, 196, 1);
    position: relative;
    padding-top: 10px;
    margin-top: 6px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 10vh;
}
.icone{
    width: 3%;
    height: 6vh;
}
/* IPAD */
@media(max-width:768px){
    *{
        box-sizing: border-box;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
    header {
        justify-content: center;
        background-color: black;
        position: fixed;
        font-size: 20px;
        text-align: center;
        border: 2px solid black;
        border-radius: 6px;
        z-index: 2;
        padding-top: 10px;
        max-width: 100%;
        width: 100%;
        height: 10vh;
    }
    span a{
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color:yellow ;
    }
    div{
        display: block;
        align-items: flex-end;
        font-size: 20px;
        background-color: rgb(255, 196, 1);
        padding-top: 80px;
        width: 100%;
        max-width: 100%;
        border-radius: 6px;
        text-align: center;
        height: 82vh;
    }
    main a{
        text-decoration: none;
        color: yellow;
    }
    img{
        border-radius: 6px;
        width: 60%;
        height: 45vh;
    }
    p{
        line-height: 30px;
    }
    footer{
        background-color: rgb(255, 196, 1);
        position: relative;
        padding-top: 20px;
        margin-top: 6px;
        border: 2px solid black;
        border-radius: 8px;
        text-align: center;
        width: 100%;
        height: 10vh;
    }
    .icone{
        width: 8%;
        height: 6vh;
    }
}

/* Moto G */
@media(max-width:360px){
    *{
        box-sizing: border-box;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        margin: 0;
        width: 100%;
        max-width: 100%;
        height: 100vh;
    }
    header {
        justify-content: center;
        background-color: black;
        position: fixed;
        font-size: 14px;
        text-align: center;
        border: 2px solid black;
        border-radius: 6px;
        z-index: 2;
        padding-top: 0;
        max-width: 100%;
        width: 100%;
        height: 9vh;
    }
    span a{
        display: inline-block;
        padding: 5px;
        text-decoration: none;
        color:yellow ;
    }
    div{
        font-size: 10px;
        padding-top: 0;      
        background-color: rgb(255, 196, 1);
        width: 100%;
        max-width: 100%;
        border: 0;
        border-radius: 6px;
        text-align: center;
        height: 82vh;
    }
    main a{
        text-decoration: none;
        color: yellow;
    }
    p{
        font-size: 13px;
        line-height: 20px;
    }
    img{
        border-radius: 6px;
        width: 80%;
        height: 50vh;
        
    }
    footer{
        background-color: rgb(255, 196, 1);
        position: relative;
        padding-top: 10px;
        margin-top: 0;
        border: 2px solid black;
        border-radius: 8px;
        text-align: center;
        width: 100%;
        height: 10vh;
    }
    .icone{
        width: 10%;
        height: 6vh;
    }
}