/* Desktop */
*{
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    padding: 0;
    margin: 0;
    width: 100%;
    max-width: 100%;
}
header {
    justify-content: center;
    background-color: black;
    position: fixed;
    font-size: 20px;
    right: 0px;
    text-align: center;
    width: 100%;
    border: 2px solid black;
    border-radius: 6px;
    padding: 0px;
    z-index: 2;
    max-width: 100%;
    padding-top: 10px;
}

span a{
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color:yellow ;

}
main{
    background-color: rgb(255, 196, 1);
    padding-top: 40px;
    padding-left: 10px;
    width: 100%;
    max-width: 100%;
    border: solid 2px black;
    border-radius: 6px;
    /* position: relative; */
}
h1, h2, h3{
   text-align: center; 
   max-width: 100%;
   display: block;
}
h1{
    padding-top: 30px;
}
div{
    display: flex;
    justify-content: space-around;
}
footer{
    background-color: rgb(255, 196, 1);
    position: relative;
    padding-top: 10px;
    margin-top: 6px;
    border: 2px solid black;
    border-radius: 8px;
    text-align: center;
    width: 100%;
    height: 10vh;
}

/* IPAD */
@media(max-width:768px){
    *{
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
    header {
        justify-content: center;
        background-color: black;
        position: fixed;
        font-size: 20px;
        right: 0px;
        text-align: center;
        width: 100%;
        border: 2px solid black;
        border-radius: 6px;
        padding: 0px;
        z-index: 2;
        max-width: 100%;
        padding-top: 10px;
    }
    
    span a{
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color:yellow ;
    
    }
    main{
        background-color: rgb(255, 196, 1);
        font-size: 18px;
        padding-top: 50px;
        padding-left: 5px;
        width: 100%;
        max-width: 100%;
        border: solid 2px black;
        border-radius: 6px;
        position: relative;
    }
    h1, h2, h3{
       text-align: center; 
       max-width: 100%;
       display: block;
    }
    h1{
        padding-top: 10px;
        font-size: 22px;
    }
    div{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 30vh;
    }
    footer{
        background-color: rgb(255, 196, 1);
        position: relative;
        padding-top: 10px;
        margin-top: 6px;
        border: 2px solid black;
        border-radius: 8px;
        text-align: center;
        width: 100%;
        height: 7vh;
    }
}

/* Moto G */
@media(max-width:360px){
    *{
        box-sizing: border-box;
    }
    
    body {
        font-family: Arial, Helvetica, sans-serif;
        color: black;
        padding: 0;
        margin: 0;
        width: 100%;
        max-width: 100%;
    }
    header {
        justify-content: center;
        background-color: black;
        position: fixed;
        font-size: 18px;
        right: 0px;
        text-align: center;
        width: 100%;
        border: 2px solid black;
        border-radius: 6px;
        padding: 0px;
        z-index: 2;
        max-width: 100%;
        padding-top: 10px;
    }
    
    span a{
        display: inline-block;
        padding: 10px;
        text-decoration: none;
        color:yellow ;
    
    }
    main{
        background-color: rgb(255, 196, 1);
        padding-top: 50px;
        padding-left: 10px;
        padding-right: 10px;
        width: 100%;
        max-width: 100%;
        border: solid 2px black;
        border-radius: 6px;
        /* position: relative; */
    }
    h1, h2, h3{
       text-align: center; 
       max-width: 100%;
       display: block;
    }
    h1{
        padding-top: 30px;
        font-size: 20px;
        margin-top: 30px;
    }
    .midia{
        display: block;
        justify-content: space-around;
        width: 20%;
        height: 95vh;
    }
    footer{
        background-color: rgb(255, 196, 1);
        position: relative;
        padding-top: 10px;
        margin-top: 6px;
        border: 2px solid black;
        border-radius: 8px;
        text-align: center;
        width: 100%;
        height: 10vh;
    }
}